Port {{ ssh_port }}
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
X11Forwarding no
AllowUsers {{ admin_user }}
ClientAliveInterval 300
ClientAliveCountMax 2
